{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'it-IT' }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.metadata.title|e('html') }}</title>
    {% include 'partials/metadata.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

<!--Open Graph-->
<meta property="og:site_name" content="{{ site.title|e('html') }}">
<meta name="og:title" property="og:title" content="{% if header.title %}{{ header.title|e('html') }}{% else %}{{ site.metadata.title|e('html') }}{% endif %}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ page.url }}" />
<meta property="og:image" content="{{ theme_url }}/images/banner.jpg" />
{% if page.taxonomy.date %}
<meta property="article:published_time" content="{% for date in page.taxonomy.date %}{{ date }}{% endfor %}">
{% endif %}
<meta name="author" content="{% if page.taxonomy.author %}{% for author in page.taxonomy.author %}{{ author }}{% endfor %}{% else %}{{ site.metadata.title|e('html') }}{% endif %}">
<!--Twitter-->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:alt" content="Alt text for image">    
<!--STYLES-->
{% block stylesheets %}
        {% do assets.addCss('theme://css/pure-0.5.0/grids-min.css', 103) %}
        {% do assets.addCss('theme://css-compiled/nucleus.css', 102) %}
        {% do assets.addCss('theme://css-compiled/template.css', 101) %}
        {% do assets.addCss('theme://css/custom.css', 100) %}
        {% do assets.addCss('theme://css/font-awesome.min.css', 100) %}
        {% do assets.addCss('theme://css/slidebars.min.css') %}
        {% do assets.addCss('theme://css/polet500.css') %}

        {% if browser.getBrowser == 'msie' and browser.getVersion == 10 %}
            {% do assets.addCss('theme://css/nucleus-ie10.css') %}
        {% endif %}
        {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
            {% do assets.addCss('theme://css/nucleus-ie9.css') %}
            {% do assets.addJs('theme://js/html5shiv-printshiv.min.js') %}
        {% endif %}
    {% endblock %}
    {{ assets.css() }}
<!--JS-->
    {% block javascripts %}
        {% do assets.addJs('theme://js/jquery.min.js', 100) %}
        {% do assets.addJs('theme://js/modernizr.custom.71422.js', 100) %}
        {% do assets.addJs('theme://js/antimatter.js') %}
        {% do assets.addJs('theme://js/slidebars.min.js') %}
    {% endblock %}
    {{ assets.js() }}
<script type="text/javascript" src="http://cdn.jsdelivr.net/cookie-bar/1/cookiebar-latest.min.js"></script>
{% endblock head %}
</head>
<body id="top" class="{{ page.header.body_classes ?: 'modular header-image fullwidth' }}">
    <div id="sb-site">
        {% block header %}
        <header id="header">
            <div id="logo">
                <h3><a href="{{ base_url == '' ? '/' : base_url }}"> {{ config.site.title }}</a></h3>
            </div>
            <div id="navbar">
                {% block header_extra %}{% endblock %}
                {% if config.plugins.langswitcher.enabled %}
                {% include 'partials/langswitcher.html.twig' %}
                {% endif %}
                {% block header_navigation %}
                {% include 'partials/navigation.html.twig' %}
                {% endblock %}
                <span class="panel-activation sb-toggle-left navbar-left menu-btn fa fa-bars"></span>
            </div>
        </header>
        {% endblock %}

        {% block showcase %}{% endblock %}

        {% block body %}
        <section id="body" class="{{ class }}">
            {% block content %}{% endblock %}
        </section>
        {% endblock %}
<div class="totop label--round btn-sm" style="text-align:center; margin-bottom:1em">
              <span class="">  <a href="#" id="toTop"><i class="fa fa-arrow-up"></i></a></span>
            </div>
        {% block footer %}
        <footer id="footer">
      
        <div class="table-container">
                <div class="table-col">
                <h6>Navigazione</h6>
               
                {% include 'partials/navigation.html.twig' %}
            </div>
            <div class="table-col">
                <h6>Indici</h6>
                <ul>
                    <li><a href="{{ base_url }}/testi/">Indice delle schede</a></li>
                    <!--<li>Indice degli argomenti</li>-->
                    <!--<li>Indice delle persone</li>-->
                </ul> 
               
            </div>
            <div class="table-col">
                <h6>Social</h6>
                    <div>
                            <ul>
                                <li><a href="https://facebook.com/polet500" target="_blank">Facebook</a></li>
                                <li><a href="https://plus.google.com/u/0/111321209629895853779" target="_blank">Google+</a></li>
                            </ul>
                        </div>
                    <h6>Links</h6>
                    <div>
                            <ul>
                                <li>Feeds: <a class="" href="{{ base_url }}{{ feed_url }}/schede/.rss"> RSS</a> | <a class="" href="{{ base_url }}{{ feed_url }}/schede/.atom"> ATOM</a></li>
                                <li><a href="{{ base_url }}/sitemap/">Mappa del sito</a></li>
                            </ul>
                        </div>
                </div>
            </div>

        <HR>

          <p style=" text-align:left; font-weight:bold; color:#666 ">2016 - 2017 | {{ site.metadata.title }} <span class="tags"><a href="{{ base_url }}/chi-siamo"> Scopri di più</a></span>
          </p>
        <!--Messy code to fix: separate data and presentation-->
        <small class="text-muted">Installa l'app per Android <a href="https://play.google.com/store/apps/details?id=appinventor.ai_antonello_f_caterino.PoLet500&hl=en"> cliccando qui.</small>
        <br>
    

        </footer>
        {% endblock %}
    </div>

    <div class="sb-slidebar sb-left sb-width-thin">
        <div id="panel">
        {% include 'partials/navigation.html.twig' %}
        </div>
    </div>
    {% block bottom %}
        {{ assets.js('bottom') }}
        <script>
        $(function () {
            $(document).ready(function() {
              $.slidebars({
                hideControlClasses: true,
                scrollLock: true
              });
            });
        });
        </script>
    {% endblock %}
</body>
</html>
