<div class="list-item h-entry ">

    {% set header_image = page.header.header_image|defined(true) %}
    {% set header_image_width  = page.header.header_image_width|defined(900) %}
    {% set header_image_height = page.header.header_image_height|defined(300) %}
    {% set header_image_file = page.header.header_image_file %}

    <div class="list-blog-header">
        
        <p style="font-size:14px;">By <span style="font-weight:bold">{{ page.header.taxonomy.author }}</span> on <span style="font-weight:bold">{{ page.header.taxonomy.date }} </span></p>
        {% if page.header.link %}
            <h2 class="p-name">
                {% if page.header.continue_link is not sameas(false) %}
                <a href="{{ page.url }}"><i class="fa fa-angle-double-right u-url"></i></a>
                {% endif %}
            </h2>
        {% else %}
            <h2 class="p-name"><span class="tags">{{ page.header.taxonomy.chronology }}</span><br><a href="{{ page.url }}" class="u-url"> {{ page.title }}</a></h2>
        {% endif %}
        <a href="{{ page.url }}"><img src="{{ page.header.metadata.image }}"></img></a>
            <p class="text-uppercase">{{ page.header.metadata.description }}</p>
            <div class="table-container">    
            <div class="table-col">
                <div style="display:inline-block; margin-right:16px; height:32px; width:32px; background-image:url('{{ base_url }}/assets/img/tags.jpg'); border-radius:50%; background-size:cover">
                </div>
                <span class=""><a>{{ page.header.taxonomy.tag | length}} Argomenti</a></span>
            </div><div class="table-col">
                <div style="display:inline-block; margin-right:16px; height:32px; width:32px; background-image:url('{{ base_url }}/assets/img/char.jpg'); border-radius:50%; background-size:cover">
                </div>
                <span class=""><a>{{ page.header.taxonomy.char | length}} Personaggi</a></span>
            </div>
            <div class="table-col">
                <div style="display:inline-block; margin-right:16px; height:32px; width:32px; background-image:url('{{ base_url }}/assets/img/archive.jpg'); border-radius:50%; background-size:cover">
                </div>
                <span class=""><a>{{ page.header.taxonomy.bibliography | length}} Riferimenti</a></span>
            </div>
        </div>
            <div class="sharer" style="line-height:2; text-align:center; font-size:1.5em; padding-top:0.2em; padding-bottom:1em" id="{{ page.metadata.date }}-share">{% include 'partials/socialbuttons.html.twig' with {'url' : page.url} %}</div>

    </div>

    <div class="list-blog-padding" >
        
    {% if page.header.continue_link is sameas(false) %}
        <div class="e-content">        
            {{ page.content }}
        </div>
        {% if not truncate %}
        {% set show_prev_next = true %}
        {% endif %}
    {% elseif truncate and page.summary != page.content %}
        <div class="p-summary e-content">
        
        
            <p><span class="tags tags-bg bg-primary">
                <a href="{{ page.url }}">
                <i class="fa fa-arrow-right"></i>
                {{ 'Leggi la scheda completa'|t }}
                </a>
            </span></p>
    {% elseif truncate %}
        <div class="p-summary e-content">
            {% if page.summary != page.content %}
                    {{ page.content|truncate(55) }}
                </div>
            {% else %}



                    {{ page.content }}
                
            {% endif %}

            <p><a href="{{ page.url }}">{{ 'BLOG.ITEM.CONTINUE_READING'|t }}</a></p>
    {% else %}
   
        <div class="e-content"  id="content">
            {{ page.content }}
        </div>
    

        {% set show_prev_next = true %}
    {% endif %}


    </div>
</div>
</div>

