{% embed 'partials/base.html.twig' %}

	{% block content %}
	{% set feed_url = blog.url == '/' or blog.url == base_url_relative ? (base_url_relative~'/'~blog.slug) : blog.url %}
{% set new_base_url = blog.url == '/' ? '' : blog.url %}

	<div class="blog-content-item content-wrapper content-focus">
			

				<!--{% for tag in page.taxonomy.tag %}
            <span class="tags">
                <a href="{{ new_base_url|rtrim('/') }}/char{{ config.system.param_sep }}{{ tag }}" class="p-category">
                <span class="">{{ tag }}</span>
                </a>
            </span>
            {% endfor %}-->


			    {% include 'partials/blog_item.html.twig' with {'blog':page.parent, 'truncate':false} %}
			</div>
		</div>
<br>
<div class="content-wrapper content-focus" style=" font-family:'Quattrocento';" id="credits">
	<p>
	La scheda <em>{{ page.header.title }}</em> è stata redatta da <em>{{ page.header.taxonomy.author }}</em> in data <em>{{ page.header.taxonomy.date }}</em> per il sito <em>{{ config.site.title }} </em>. <br>
	Per citare la scheda si prega di indicare l'autore, la data ed il sito. <br>
	Documento rilasciato con licenza  <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
	</p>
	<p>
	<span class="tags"><a href="{{ page.url }}.json">Esporta scheda JSON</a></span>
	<!--<span class="tags"><a href="#">Esporta citazione Bib </a></span>-->
	<span class="tags"><a href="{{ site.url }}/polet500/schede/author:{{ page.taxonomy.author.0 }}">Vedi le altre schede dell'autore </a></span>
	</p>
</div>
<br>
<div class="content-wrapper table-container" style="max-width:920px; margin:0 auto">
	<div class="table-col" style="text-align:center" id="tagList">
		<div class="avatar-184" style="background-image: url('{{ base_url }}/assets/img/tags.jpg'); "></div>
    	<h4>{{ 'Argomenti'|t }}</h4>
		<div style="width:90%; margin:0 auto; background: #4caf50; height:2px"></div><br>
		<div style="width:90%; margin:0 auto;">
    	{% for tag in page.taxonomy.tag  %}
            <span class="tags">
                <a href="{{ site.url }}/polet500/schede/tag{{ config.system.param_sep }}{{ tag }}" class="p-category">
               		<span class="">{{ tag }}</span>
                </a>
            </span>
        {% endfor %}
	</div>
	</div>
	<div class="table-col" style="text-align:center" id="charList">
		<div class="avatar-184" style=" background-image: url('{{ base_url }}/assets/img/char.jpg');"></div>
    	<h4>{{ 'Personaggi'|t }}</h4>
		<div style="width:90%; margin:0 auto; background: #4caf50; height:2px"></div><br>
		<div style="width:90%; margin:0 auto; ">
    	{% for char in page.taxonomy.char  %}
            <span class="tags">
                <a href="{{ site.url }}/polet500/schede/char{{ config.system.param_sep }}{{ char }}" class="p-category">
               		<span class="">{{ char }}</span>
                </a>
            </span>
        {% endfor %}
	</div>
	</div>
</div>
</div>
</div>
<br>
<div id="refList">
    {% include "partials/bibliography_table.html.twig" %}
</div>
<br>

 

		{% include "blog_utils.html.twig" %}
		{% include "partials/navigation_secundary.html.twig" %}


	{% endblock %}

{% endembed %}
